#name-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
  /* background-color: #F5F5F5; */
  padding: 0% 5% 0% 5%;
}

#hi-my-name {
  font-size: 4em;
  
}

#joshua {
  font-size: 10em;
  color: #3F8EFC;
}

#studying-text {
  font-size: 3em;
}

@media only screen and (max-width: 870px) {
  #hi-my-name {
    font-size: 2em;
  }
  #joshua {
    font-size: 5em;
  }
  #studying-text {
    font-size: 1.5em;
  }
}